@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Poppins:wght@200;400;600&display=swap');

:root {

  /* Border Colors */
--bdr-team-builder: hsl(0, 78%, 62%);
--bdr-supervisor: hsl(180, 62%, 55%);
--bdr-calculator: hsl(212, 86%, 64%);
--bdr-karma: hsl(34, 97%, 64%);

/* Neutral Colors  */
--bg-color: hsl(0, 0%, 98%);
--dark-text-color: hsl(234, 12%, 34%);
--light-text-color: hsl(229, 6%, 66%);

/* Font Weights  */
--fw-poppins-bold: 600;
--fw-poppins-reg: 400;
--fw-poppins-light: 200;

/* Font Sizes  */
--fs-header-title: 1.5rem;
--fs-header-text: .9rem;
--fs-card-title: 1rem;
--fs-card-text: .7rem;

font-size: 15px;
font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-color);
  margin: 2rem 0 0 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.container > * {
  max-width: 200px;
  padding-inline: 1.5rem;
}

.header {
  text-align: center;
  padding: 0;
  max-width: 275px;
}

.header-title {
  font-size: var(--fs-header-title);
}

.header-title span {
  font-weight: var(--fw-poppins-light);
  
}

.header-text {
  font-size: var(--fs-header-text);
}

.card {
  box-shadow: 0 12px 20px var(--light-text-color);
  border-radius: 7px;
}

.card-title {
  font-size: var(--fs-card-title);
  font-weight: var(--fw-poppins-bold);
}

.card-text {
  font-size: var(--fs-card-text);
  font-weight: var(--fw-poppins-reg);
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.card-image {
  height: 3rem;
  width: 0;
  margin-bottom: 1rem;
}

img {
  height: 3rem;
  float: right;
}

.card-supervisor {border-top: 3px solid var(--bdr-supervisor);}

.card-team-builder {border-top: 3px solid var(--bdr-team-builder);}

.card-karma {border-top: 3px solid var(--bdr-karma);}

.card-calculator {border-top: 3px solid var(--bdr-calculator);}

.header-title, .card-title {
  color: var(--dark-text-color);
}

.header-text, .card-text {
  color: var(--light-text-color);
}

@media screen and (min-width: 1125px) {
  :root {
    --fs-header-title: 2.5rem;
    --fs-header-text: 1.1rem;
    --fs-card-title: 1.4rem;
    --fs-card-text: .9rem;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr repeat(4, 1fr);    
    gap: 2rem;
    grid-row-gap: .75rem;
    margin-inline: 40%;
    justify-items: center;
    
  }

  .header {
    grid-column: 1 / span 3;
    max-width: 50%;
  }

  .card {
    min-width: 300px;
    min-height: 225px;
  }

  .card-supervisor {
    grid-row: 3 / span 2;
  }
  .card-team-builder {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
  }
  .card-karma {
    grid-column: 2 / span 1;
    grid-row: 4 / span 2; 
  }
  .card-calculator {
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
  }
}